<div class="container-fluid">
  <div class="col-lg-3">
    <h2>Alerts</h2>
  </div>
</div>

<div class="container-fluid mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef>Id </mat-header-cell>
      <mat-cell *matCellDef="let alert"> {{alert.AlertId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Alert Type">
      <mat-header-cell *matHeaderCellDef>Alert Type </mat-header-cell>
      <mat-cell *matCellDef="let alert"> {{alert.AlertType.Description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Alert Date">
      <mat-header-cell *matHeaderCellDef>Date </mat-header-cell>
      <mat-cell *matCellDef="let alert"> {{alert.AlertDate | date}} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="Button">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let order"> <button mat-raised-button color="primary">Details</button> </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
